<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li class="menu-title">
                <%= appName %> Website
            </li>

            <% menuList.forEach(menu=> { %>
                <li>
                    <!-- OUR FEATURES -->
                    <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                        <span class="nav-text">
                            <%= menu.title %>
                        </span>
                    </a>
                    <ul aria-expanded="false">
                        <% menu.children.forEach(child=> { %>
                            <li><a href="<%= child.link %>">
                                    <%= child.title %>
                                </a></li>

                            <% }) %>
                    </ul>
                </li>

                <% }) %>
        </ul>
    </div>
</div>